<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />  
<title>{{ page.title }}</title>
<!-- Framework CSS -->  
<link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen, projection" />  
<link rel="stylesheet" href="stylesheets/print.css" type="text/css" media="print" />  
<!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]--> 
<link rel="stylesheet" href="stylesheets/test.css" type="text/css" />
<link rel="stylesheet" href="stylesheets/noobslide.css" type="text/css" />
<script type="text/javascript" src="js/mootools-1.2-core.js"></script>
<script type="text/javascript" src="js/noobSlide.packed.js"></script>
<meta name="content" content="BBgoggles is an open source BlackBerry client for Google Goggles." />
<meta name="keywords" content="BBgoggles, BlackBerry, Google, Goggles." />
<script type="text/javascript">
window.addEvent('domready',function(){		
		//SAMPLE 7
		var startItem = 3; //or   0   or any
		var thumbs_mask7 = $('thumbs_mask7').setStyle('left',(startItem*60-568)+'px').set('opacity',0.8);
		var fxOptions7 = {property:'left',duration:1000, transition:Fx.Transitions.Back.easeOut, wait:false}
		var thumbsFx = new Fx.Tween(thumbs_mask7,fxOptions7);
		var nS7 = new noobSlide({
			box: $('box7'),
			items: [0,1,2,3,4,5,6,7],
			handles: $$('#thumbs_handles7 span'),
			fxOptions: fxOptions7,
			onWalk: function(currentItem){
				thumbsFx.start(currentItem*60-568);
			},
			startItem: startItem
		});
		//walk to first with fx
		nS7.walk(0);
	});
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28739536-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>  
<body>
<div class="container">
<!-- The header logo uses the free fonts Arian by EllaFonts and ChocolateType by Tahir Jamil both available free for non-commercial use. -->
	<div id="header" class="span-24 last"></div>
	<hr class="silent" />
	<div id="navigation" class="span-24 last">
		<ul>
			<li><a href="./">Home</a></li>
			<li><a href="./about.html">About</a></li>
			<li><a href="./screens.html">Screenshots</a></li>
			<li><a href="./FAQ.html">FAQ</a></li>
			<li><a href="./download.html">Download</a></li>
			<li><a href="http://github.com/perplexed/BBgoggles/wiki" target="_blank">Wiki</a></li>
			<li><a href="https://github.com/perplexed/BBgoggles/issues" target="_blank">Issues</a></li>
			<li><a href="https://github.com/perplexed/BBgoggles/" target="_blank">Source</a></li>
			<li><a href="./comments.html">Comments</a></li>
		</ul>
    </div>	
	<hr class="silent" />
	<div id="maincontent" class="span-24 last">
		{{ content }}
	</div>	
	<hr />
	<div id="footer"  class="span-24 last">
		<p>&copy; BBgoggles 2012 | Source available under the <a href="http://www.gnu.org/licenses/">GPL</a>.</p>
	</div>
</div>
</body>
</html>