<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />  
<title>{{ page.title }}</title>
<!-- Framework CSS -->  
<link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen, projection" />  
<link rel="stylesheet" href="stylesheets/print.css" type="text/css" media="print" />  
<!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]--> 
<link rel="stylesheet" href="stylesheets/test.css" type="text/css" /> 
<meta name="content" content="BBgoggles is an open source BlackBerry client for Google Goggles." />
<meta name="keywords" content="BBgoggles, BlackBerry, Google, Goggles." />
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28739536-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</head>  
<body>
<div class="container">
	<div id="header" class="span-10 last">
		<h1 id="BBgoggles">BBgoggles</h1>
    </div>
	<div id="subheader" class="span-14 last">
		<h3>An open source BlackBerry client for Google Goggles.</h3>
	</div>
	<hr class="silent" />
	<div id="navigation" class="span-24 last">
		<ul>
			<li><a href="./">Home</a></li>
			<li><a href="./about.html">About</a></li>
			<li><a href="./screens.html">Screenshots</a></li>
			<li><a href="./FAQ.html">FAQ</a></li>
			<li><a href="./download.html">Download</a></li>
			<li><a href="http://github.com/perplexed/BBgoggles/wiki">Wiki</a></li>
			<li><a href="https://github.com/perplexed/BBgoggles/issues">Issues</a></li>
			<li><a href="https://github.com/perplexed/BBgoggles/">Source</a></li>
		</ul>
    </div>	
	<hr class="silent" />
	<div id="maincontent" class="span-24 last">
		{{ content }}
	</div>	
	<hr />
	<div id="footer"  class="span-24 last">
		<p>&copy; BBgoggles 2012 | Source available under the <a href="http://www.gnu.org/licenses/">GPL</a>.</p><g:plusone annotation="inline" width="120"></g:plusone>
	</div>
</div>
</body>
</html>